.title-div {
    display: flex;
    flex-direction: column;
    width: 50vh;
    padding-left: 10%;
    padding-top: 50px;
    justify-content: flex-start;
}

.title {
    margin: 0;
}

p.title {
    font-size: 4rem;
}

h1.title {
    font-size: 8rem;
}

h2.title {
    font-size: 6rem;
}


