.home-body {
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 5%;
    min-width: 300px;
}

.title-box {
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
}

#title-shape {
    width: 200px;
    height: 1000px;
    left: 250px;
    transform: skew(30deg);
    background: #FFC47020;
    z-index: -1;
    position: fixed;
  }

#title-shape2 {
    width: 300px;
    height: 1000px;
    left: 400px;
    transform: skew(-10deg);
    background: #DD574620;
    z-index: -1;
    position: fixed;
}

#title-shape3 {
    width: 600px;
    height: 1000px;
    left: 400px;
    transform: skew(-70deg);
    background: #4793AF20;
    z-index: -1;
    position: fixed;
}

#dark-mode-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.title-text {
    font-family: "Red Hat Display", sans-serif;
}

h1.title-text{
    font-size: 4rem;
}

h2.title-text{
    font-size: 2.5rem;
}

h3.title-text{
    font-size: 2.2rem;
}

p.title-text{
    font-size: 1.3rem;
}

.title-desc {
    text-align: justify;
    margin-bottom: 3%;
}

.title-headers {
    margin-bottom: 3%;
}

#home-title {
    color: #4793AF;
}

.work-text {
    font-family: "Red Hat Display", sans-serif;
}

.card {
    opacity: .8;
}

.card-text {
    font-size: 1.1rem;
}

.job-desc {
    text-align: justify;
}

.skill-box {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

a { color: inherit; }

#linkedin-icon {
    color: #0077B5;
}

#email-icon {
    opacity: .85;
}

@media (max-width: 991.98px) {
    .social-links {
        display: flex;
        flex-direction: row;
    }

    .home-body {
        margin-left: 10%;
        margin-right: 10%;
    }
}